/* Hero Section */
.hero {
    background: url('../images/hero-bg.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero .btn {
    padding: 10px 20px;
    background-color: #DD761C;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.hero .btn:hover {
    background-color: #071952;
}
